// start color 


$blue : #016d9e;
$dark : #444444;
$green :#2f9f49;
$light :#f0f3fa;
$gray :#5b5b5b;
$p-gray:#8793a3;
$light-green :#23a8af;

// $mobile : @media(max-width:450px);
// $smallScreen :  @media(max-width:768px);
// $meduimScreen :  @media(max-width:992x);

